* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
}

button {
    cursor: pointer;
    border: none;
    background-color: rgb(121, 121, 246);
    color: white;
    margin: 5px;
    padding: 10px;
    font-weight: 500;
    border-radius: 5px;
}

.app-container {
    display: flex;
    width: 100%;
    height: 100vh;
}

.edit-section {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    gap: 20px;
    background-color: rgb(243, 243, 243);
}

.preview-section {
    flex: 2 1 0;
    display: flex;


}

.pdf-container {
    flex: 1 1 0;
    width: 100%;
    border: none;
}

.section {
    display: flex;
    width: 85%;
    flex-direction: column;
    border: 1px solid #000000;
    border-radius: 10px;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.1);
    padding: 15px;
    background-color: white;
    gap: 10px;
}