* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
}

.app-container {
    display: flex;
    width: 100%;
    height: 100vh;
}

.edit-section{
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.preview-section{
    flex: 2 1 0;
    display: flex;
    

}

.pdf-container{
    flex: 1 1 0;
    width: 100%;
    border: none;
}

