.section-container {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border: 1px solid #dcdcdc;
    border-radius: 4px;
    background-color: #eeeeee;
}

.initial-container {
    display: flex;
    gap: 5px;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.name-container {
    flex: 3 1 0;
    font-weight: 500;
}

.input-container {
    display: flex;
    flex-direction: column;
}

button.edit-delete {
    background-color: rgb(213, 213, 213);
    font-weight: normal;
    color: rgb(30, 30, 30);
    padding: 5px 15px 5px 15px;
    margin: 5px;
}