.header {
    padding-bottom: 10px;
    padding-top: 10px;


    width: 100%;
    background-color: #f5f5f5;
    border-bottom: 1px solid #ccc;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.1);
}


.header h1 {
    color: rgb(0, 0, 0);
    width: 100%;
    display: flex;
    
    align-items: center;
    justify-content: center;

}